/*https://coolors.co/1b998b-1d1f2e-fffd82-ff9b71-e84855*/
:root {
    --color-dark: #1B2021;
    --color-light-gray: #424242;
    --color-accent: #E00072;
    --color-accent-analog: #601D3F;
    --color-accent-light: #93004B;
    --color-accent-lighter: #E00072;
    --color-accent-dark: #932C61;
    --color-accent-darker: #470024;
    --color-accent-faded: rgb(82, 46, 64);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #212121;
}

/* Navigation */

nav {
    background-color: var(--color-dark);
    height: 100%; width: 250px;
    padding: 20px 0;
    margin-right: 20px;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    box-sizing: border-box;
    font-size: 1.1em;
    font-variant: small-caps;
    height: 40px; width: 100%;
    margin-top: 10px;
    min-height: 40px;
    padding-left: 10px;
}

nav li:hover {
    background-color: var(--color-accent-faded);
    cursor: pointer;
}

nav li.selected {
    background-color: var(--color-accent-darker);
    border-right: 5px solid var(--color-accent-dark);
}

nav li > a {
    align-items: center;
    box-sizing: border-box;
    color: white;
    display: flex;
    height: 100%;
    text-decoration: none;
    margin: 0;
}

nav li > a:visited {
    color: white;
}

nav li i {
    margin-right: 10px;
}

/* General Styles */

main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    justify-content: center;
    width: calc(100% - 300px);
}

main h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

main > p {
    line-height: 150%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 10px;
}

form > p {
    align-self: flex-start;
}

input {
    border: none;
    border-bottom: dashed 1px black;
}

input:focus {
    border-bottom: solid 2px var(--color-accent);
    box-shadow: 0 3px 3px -3px var(--color-accent);
    outline: none;
}

input[type=submit] {
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
}

input[type=submit]:focus {
    box-shadow: 0 0px 15px var(--color-accent-light);
}


textarea {
    border: dashed 1px black;
    border-radius: 5px;
}

textarea:focus {
    border: none;
    outline-color: var(--color-accent);
}

a {
    color: var(--color-accent-light);
}

a:visited {
    color: var(--color-accent-lighter);
}

.bold-text {
    font-weight: bold;
}

.none {
    display: none;
    opacity: 0;
    transition: .5s;
}

/* Login Page */
#login-page {
    display: block;
    height: 100%; width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#login-page form {
    border: solid 1px magenta; 
    height: 50%; width: 300px;
    left: 50%; top:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#login-page form button {
    height: 100px;
}


/* Index */

.image-holder {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image-holder > img {
    border: 4px solid white;
    box-shadow: 0 0 10px 0 black;
    width: 40%; height: auto;
}

.image-holder > p {
    color: #414141;
    padding-top: 5px; 
    transform: translateX(10%);
    width: auto;
}

.image-holder a {
    color: #212121;
}

/* Announcements Page */

.list-box {
    border: solid 3px var(--color-light-gray);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 10px;
    padding-bottom: 5px; /* Each element has 5px bottom margin */
    width: 50vw; max-width: 600px;
}

.list-box > h2 {
    color: var(--color-accent-analog);
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.list-box > .subject {
    margin-bottom: 15px;
}

.list-box > * {
    margin-bottom: 5px;
}

#bottom-arrow {
    background-image: url(./images/icons/top.svg);
    bottom: 50px; right: 50px;
    cursor: pointer;
    display: block;
    height: 70px; width: 70px; 
    position: fixed;
    transition: .5s;
}

/* Communication */

#communication-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 93vh; width: 100%;
    justify-content: space-evenly;
}

.contact-box {
    border: solid 3px var(--color-light-gray);
    border-radius: 6px;
    padding: 30px;
    width: 40%;
}

.contact-box > * {
    margin-bottom: 15px;
}

/* Documents */

.doc-box > *{
    margin-bottom: 15px;
}

/* Homework */

.homework-box > h3 {
    margin-top: 15px;
}

.homework-box > ul {
    list-style: decimal inside;
}

.homework-box .empasize-text {
    color: var(--color-accent);
    font-weight: bold;
    margin-top: 15px;
}