/*https://coolors.co/1b998b-1d1f2e-fffd82-ff9b71-e84855*/
:root {
    --color-dark: #1B2021;
    --color-light-gray: #424242;
    --color-accent: #E00072;
    --color-accent-analog: #601D3F;
    --color-accent-light: #93004B;
    --color-accent-lighter: #E00072;
    --color-accent-dark: #932C61;
    --color-accent-darker: #470024;
    --color-accent-faded: rgb(82, 46, 64);
    --color-comp: #01E000;
    --color-comp-dark: #00af00; 
    --color-error: #F9690E;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #212121;
}

/* Navigation */

nav {
    background-color: var(--color-dark);
    height: 100%; width: 250px;
    padding: 20px 0;
    margin-right: 20px;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    box-sizing: border-box;
    font-size: 1.1em;
    font-variant: small-caps;
    height: 40px; width: 100%;
    margin-top: 10px;
    min-height: 40px;
    padding-left: 10px;
}

nav li:hover {
    background-color: var(--color-accent-faded);
    cursor: pointer;
}

nav li.selected {
    background-color: var(--color-accent-darker);
    border-right: 5px solid var(--color-accent-dark);
}

nav li > a {
    align-items: center;
    box-sizing: border-box;
    color: white;
    display: flex;
    height: 100%;
    text-decoration: none;
    margin: 0;
}

nav li > a:visited {
    color: white;
}

nav li i {
    margin-right: 10px;
}

/* General Styles */

main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    justify-content: center;
    width: calc(100% - 300px);
}

main h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

main > p {
    line-height: 150%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 10px;
}

form > p {
    align-self: flex-start;
}

input {
    border: none;
    border-bottom: dashed 1px black;
}

input:focus {
    border-bottom: solid 2px var(--color-accent);
    box-shadow: 0 3px 3px -3px var(--color-accent);
    outline: none;
}

input[type=submit] {
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
}

input[type=submit]:focus {
    box-shadow: 0 0px 15px var(--color-accent-light);
}


textarea {
    border: dashed 1px black;
    border-radius: 5px;
}

textarea:focus {
    border: none;
    outline-color: var(--color-accent);
}

a {
    color: var(--color-accent-light);
}

a:visited {
    color: var(--color-accent-lighter);
}

.bold-text {
    font-weight: bold;
}

.none {
    display: none;
    opacity: 0;
    transition: .5s;
}

/* Login Page  */
#login-page {
    background-blend-mode: screen;
    background-image: url("./images/login-back.jpg"), linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-position: center;
    background-size: cover;
    height: 100%; width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#login-page form {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 60vh; width: 40vw;
    position: relative;
    z-index: 1;
}

#login-page form::after {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-radius: 5px;
    content: "";
    height: 100%; width: 100%;
    left: 0; top: 0; 
    opacity: .8;
    position: absolute;
    z-index: -1;
}

#login-page h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    justify-self: flex-start;
}

#login-page input {
    background: 0;
    border: 0;
    border-color: white;
    border-bottom: solid 3px;
    color: white;
    font-size: 1.2rem;
    height: 30px; width: 50%;
    margin-top: 20px;
}

#login-page input::placeholder {
    color: white;
    font-size: 1.2rem;
}

#login-page #error_message {
    align-self: center;
    margin: 0;
    margin-top: 10px;
}

#login-page form button {
    background-color: white;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: 0;
    border-radius: 30px;
    box-shadow: -0.5px 0 50px #cf6cc9;
    cursor: pointer;
    height: 55px; width: 30%;
    margin-top: 20px;
    position: relative;
    transition: background-size .4s, color .4s;
    z-index: 2;
}

#login-page form button:hover {
    background-size: 100% 100%;
    color: white;
}

@keyframes fill {
    0% {
        background-size: 0 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}

/* Index */

.image-holder {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image-holder > img {
    border: 4px solid white;
    box-shadow: 0 0 10px 0 black;
    width: 40%; height: auto;
}

.image-holder > p {
    color: #414141;
    padding-top: 5px; 
    transform: translateX(10%);
    width: auto;
}

.image-holder a {
    color: #212121;
}

/* Announcements Page */

#options {
    height: 1rem; width: auto;
    padding-bottom: 30px;
}

.plus-icon {
    background-image: url("./images/icons/plus-square-solid.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 1rem; width: 1rem;
    margin-right: 5px;
}

.new_announcement_btn {
    background: 0;
    border: 0;
    color: var(--color-accent-light);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%; width: auto;
}

.list-box {
    border: solid 3px var(--color-light-gray);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 10px;
    padding-bottom: 5px; /* Each element has 5px bottom margin */
    width: 50vw; max-width: 600px;
}

.list-box > .header {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 20px; width: 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.list-box > .header > h2 {
    align-self: center;
    color: var(--color-accent-analog);
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.list-box > .header > button {
    background: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    width: 17px;
}

.list-box > .header > .edit_btn {
    background-image: url(./images/icons/edit-solid.svg);
    width: 20px;
}

.list-box > .header > .delete_btn {
    background-image: url(./images/icons/trash-solid.svg);
}

.list-box > .header > .delete_btn:hover {
    background-image: url(./images/icons/trash-solid-red.svg);
}

.list-box > .subject {
    margin-bottom: 15px;
}

.list-box > * {
    margin-bottom: 5px;
}

.modal-form {
    background-color: white;
    border: solid 5px var(--color-accent-analog);
    border-radius: 5px;
    box-shadow: 0 0 80px -15px black;
    color: black; 
    display: none;
    min-height: 50vh; min-width: 60vw;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: .6s;
}

.modal-form > button {
    background: 0;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
}

.modal-form > form {
    position: relative;
    padding-bottom: 10vh;
}

.modal-form input[type=checkbox] {
    color: black;
}

.modal-form .sumbit-btn {
    background-color: var(--color-comp-dark);
    border: 0;
    border-radius: 15px;
    bottom: 0; right: 0;
    cursor: pointer;
    height: 10vh; width: 10vw;
    position: absolute;
    z-index: 1;
}

#bottom-arrow {
    background-image: url(./images/icons/top.svg);
    bottom: 50px; right: 50px;
    cursor: pointer;
    display: block;
    height: 70px; width: 70px; 
    position: fixed;
    transition: .5s;
}

/* Communication */

#communication-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 93vh; width: 100%;
    justify-content: space-evenly;
}

.contact-box {
    border: solid 3px var(--color-light-gray);
    border-radius: 6px;
    padding: 30px;
    width: 40%;
}

.contact-box > * {
    margin-bottom: 15px;
}

/* Documents */

.doc-box > *{
    margin-bottom: 15px;
}

/* Homework */

.homework-box > h3 {
    margin-top: 15px;
}

.homework-box > ul {
    list-style: decimal inside;
}

.homework-box .empasize-text {
    color: var(--color-accent);
    font-weight: bold;
    margin-top: 15px;
}